<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.1.7" targetFramework="monoandroid51" />
  <package id="Crosslight.Xamarin.Android.Support.v4" version="23.1.1" targetFramework="monoandroid51" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="monoandroid51" />
  <package id="OxyPlot.Core" version="2015.1.744-alpha" targetFramework="monoandroid60" />
  <package id="OxyPlot.Mobile" version="2015.1.744-alpha" targetFramework="monoandroid60" />
  <package id="Refractored.FloatingActionButton" version="1.4.0" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid51" />
</packages>